html {
  box-sizing: border-box;
}


*,
*::after,
*::before {
  box-sizing: inherit;
}

:root{
  --light-gray: #7284a1;
}

.input-section {
    gap: 2rem;
    margin-top: 3rem;
}

.todo-input {
    flex-basis: 60%;
}
.todo-list-heading > div {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    
}
.todo-no {
    flex-basis: 3%;
}
.todo-details {
    flex-basis: 55%;
}
.todo-status {
    flex-basis: 10%;
}
.todo-action {
    flex-basis: 15%;
}
.todo-actions button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.todo-item {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}
